<!DOCTYPE html>
<html>

<head>
    <title>Inventor</title>
    <script src="./angular.js"></script>
    <style>
        form {
            text-align: left;
            box-shadow: 0 0 4px 1px black;
            padding: 2rem;
        }
    </style>
</head>

<body ng-app="inventor" ng-controller="if">
    <center>
        <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;width:500px; background-color: deepskyblue;">
            <h2>Inventor form</h2>
        </div>
    </center>
    <center>
        <div style="width: 500px;">
            <form action="">
                Enter the name: <input type="text" ng-model="a1" placeholder="Full Name" id="1"><br><br>
                Enter the email: <input type="email" ng-model="a2" id="2" placeholder="Email"><br><br>
                Name of the invention: <input type="text" ng-model="a3" id="3"><br><br>
                Category of invention: <select name="" id="7" ng-model="a7">
                    <option value="" disabled selected>Choose an option</option>
                    <option value="technical">Technical</option>
                    <option value="cultural">Cultural</option>
                    <option value="musical">Musical</option>
                    <option value="traditional">Traditional</option>
                    <option value="business">Business</option>
                    <option value="biological">Biological</option>
                </select><br><br>
                Phone: <input type="number" ng-model="a4" id="4"><br><br>
                Address: <textarea name="" id="5" cols="28" rows="9" ng-model="a5"></textarea><br><br>
                Postal code: <input type="number" id="6" ng-model="a6"><br><br>
            </form>
        </div>
        <div style="width:500px; text-align: right;"><input type="button" value="Add inventor" ng-click="locater()"></div>
    </center>
</body>

<script>
    const myvar = angular.module("inventor", [])
        .controller("if", function ($scope, $window) {
            let inventorId;
            $scope.locater = function () {
                if ($scope.a1 == "" || $scope.a1 == undefined) {
                    alert("Full name is required.")
                    document.getElementById("1").focus()
                } else if ($scope.a2 == "" || $scope.a2 == undefined) {
                    alert("Email is required")
                    document.getElementById("2").focus()
                } else if ($scope.a3 == "" || $scope.a3 == undefined) {
                    alert("Mention invention name")
                    document.getElementById("3").focus();
                } else if ($scope.a4 == "" || $scope.a4 == undefined) {
                    alert("Phone is mandatory")
                    document.getElementById("4").focus()
                } else if ($scope.a5 == "" || $scope.a5 == undefined) {
                    alert("Address is mandatory.")
                    document.getElementById("5").focus()
                } else if ($scope.a6 == "" || $scope.a6 == undefined) {
                    alert("Enter the postal code")
                    document.getElementById("6").focus()
                } else if ($scope.a7 == "" || $scope.a7 == undefined) {
                    alert("Specify the category of the invention.")

                } else {
                    const applicantId = localStorage.getItem('ApplicantId')
                    var inventorData = {
                        Name: $scope.a1,
                        Email: $scope.a2,
                        InventionName: $scope.a3,
                        InventionCategory: $scope.a7,
                        Phone: $scope.a4,
                        Address: $scope.a5,
                        PostalCode: $scope.a6,
                        applicant: applicantId
                    };
                    fetch('http://localhost:3500/inventor',{
                        method: 'POST',
                        headers: {
                            'Content-Type':'application/json'
                        },
                        body:JSON.stringify(inventorData)
                    }).then(res=>{
                        return res.json();
                    }).then(data =>{
                        console.log(data)
                        inventorId = data.data._id;
                        localStorage.setItem('InventorId',inventorId)
                        alert("You can close this window")
                        $window.close()
                    })
                    
                }
            }
        })
</script>

</html>
